.btn {
  padding: 10px;
  color: var(--grey);
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: var(--blue);
  cursor: pointer;
}

.btn:hover {
  transition: 0.5s linear;
  background-color: var(--dark-blue);
}

.btn:active {
  transform: scale(0.9);
}
